.container {
    display: flex;
    margin-top: 100px;
}


.search {
    width: 100%;
    display: flex;
}

.input {
    padding-left: 24px;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    border: 1px rgba(82, 82, 82, 0.467) solid;
}



.button {
    padding: 16px 30px;
    margin-left: 12px;
    border: none;
    border-radius: 5px;
    width: max-content;
}

@media screen and (max-width: 1280px) {
    .title {
        font-size: 72px;
    }
}

@media screen and (max-width: 1024px) {
    .title {
        font-size: 72px;
    }

    .imgContainer {
        display: none;
    }

}

@media screen and (max-width: 768px) {
    .title {
        font-size: 48px;
    }

}

@media screen and (max-width: 640px) {
    .title {
        font-size: 36px;
    }

}